<header>

    <a class="lgo" href="#">Rolix</a>

    <a class="btn-hamburger" href="#" id="nav-toggle">
        <span></span>
    </a>
    <nav>
        <ul>
            <li>
                <a href="">Watches</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>

        <ul class="mobile-nav">
            <li>
                <a href="">Watches</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>

    </nav>


    <a href="/cart">cart</a>
</header>
