<header class="header">

    <nav aria-label="main navigation" class="navbar" role="navigation">

        <div class="container">

            <div class="navbar-brand items--center">
                <a class="logo" href="/">Rolix</a>
            </div>

            <div class="navbar-menu items--center">

                <div class="navbar-end">

                    <a class="btn-hamburger" href="#" id="nav-toggle">
                        <span></span>
                    </a>
                    <!-- # End toggle button -->

                    <ul class="main-nav">
                        <li class="navbar-item">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="">Men's</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="">Women's</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="">Exclusives</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="">Contact Us</a>
                        </li>
                    </ul>

                    <ul class="mobile-nav">
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">Home</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">Men's</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">Women's</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">Exclusives</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">About</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="">Contact Us</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a class="mobile-nav__link" href="/cart">cart</a>
                        </li>
                    </ul>


                    <!-- <a class="cart-link" href="/cart">cart[]</a> -->

                </div><!-- # End navbar-end -->


            </div>
            <!-- # End navbar-menu -->

        </div><!-- # End inner-container -->


    </nav><!-- # End nav element -->

</header>