<header class="header">
    <!-- <a class="cart-link" href="/cart">cart[]</a> -->

    <nav aria-label="main navigation" class="navbar" role="navigation">

        <div class="container">

            <div class="navbar-brand items--center">
                <a class="logo navbar-item" href="/">Rolix</a>

                <div class="mobile-menu-toggle">
                    <a class="btn-hamburger" href="#" id="nav-toggle">
                        <span></span>
                    </a>
                </div>

            </div>

            <div class="navbar-menu items--center">

                <div class="navbar-end">


                    <!-- # End toggle button -->
                                        <!-- Main Nav Snippet -->
                    {% render 'main-nav' %}

                    <!-- Mobile Menu Snippet -->
                    {% render 'mobile-nav' %}


                </div><!-- # End navbar-end -->


            </div>
            <!-- # End navbar-menu -->

        </div><!-- # End inner-container -->


    </nav><!-- # End nav element -->

</header>