<header>

    <nav aria-label="main navigation" class="navbar" role="navigation">

        <div class="navbar-brand">
            <a class="logo" href="/">Rolix</a>
        </div>

        <a class="btn-hamburger" href="#" id="nav-toggle">
            <span></span>
        </a>

        <ul>
            <li>
                <a href="">Watches</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>

        <ul class="mobile-nav">
            <li>
                <a href="">Watches</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </>


        <a href="/cart">cart</a>
    </nav>

</header>
