<?xml version="1.0" encoding="UTF-8"?>
<svg height="37px" version="1.1" viewBox="0 0 19 37" width="19px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Black/Arrow - Thin/Right</title>
    <desc>Created with Sketch.</desc>
    <g fill-rule="evenodd" fill="none" id="Designs" stroke-width="1" stroke="none">
        <g fill-rule="nonzero" id="01---Index" stroke="#000000" transform="translate(-1407.000000, -382.000000)">
            <g id="Black/Arrow---Thin/Right" transform="translate(1390.000000, 375.000000)">
                <polyline id="Rectangle-15" points="17.5 7.5 35.1776695 25.1776695 17.5 42.8553391"></polyline>
            </g>
        </g>
    </g>
</svg>