<section class="slider">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <a class="slide__link" href="#">
                        <img class="slide__img" src="{{ 'hero-1.jpg' | asset_img_url: 'x637' }}" alt="">
                        <span class="slide__banner">Women's</span>
                    </a>
                </li>
                <li class="glide__slide">
                    <a class="slide__link" href="#">
                        <img class="slide__img" src="{{ 'hero-2.jpg' | asset_img_url: 'x637' }}" alt="">
                        <span class="slide__banner">Men's</span>
                    </a>
                </li>
                <li class="glide__slide">
                    <a class="slide__link" href="#">
                        <img class="slide__img" src="{{ 'hero-3.jpg' | asset_img_url: 'x637' }}" alt="">
                        <span class="slide__banner">Exclusive's</span>
                    </a>
                </li>
                <li class="glide__slide">
                    <a class="slide__link" href="#">
                        <img class="slide__img" src="{{ 'hero-4.jpg' | asset_img_url: 'x637' }}" alt="">
                        <span class="slide__banner">Watches</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                {% include 'inline-icon' with svg: 'icon-arrow-left.svg', alt: 'Previous', class: 'current-color-stroke' %}
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                {% include 'inline-icon' with svg: 'icon-arrow-right.svg', alt: 'Next', class: 'current-color-stroke' %}
            </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
        </div>
    </div>
</section>