<section class="section">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column">col 1</div>
            <div class="column">col 2</div>
            <div class="column">col 3</div>
        </div>
    </div>
</section>