/**
====================================
    ==> Nav Partial <==
====================================
*/
.mobile-nav {
  display: none;
}

.logo {
  font-size: em(20px) * 2;
  font-weight: 700;
  color: $black;
  &:hover {
    color: $black;
  }
}

.header {
  border-bottom: 1px solid $black;
  padding-top: 10px;
}

.main-nav {
  .navbar-item {
    display: inline-block;
  }

  .nav-link {
    color: $black;
    font-weight: 700;
    &:hover {
      color: $black;
    }
  }
}

.cart-link {
  display: inline-block;
  margin-top: 8px;
  text-transform: capitalize;
  color: $black;
  font-weight: 700;
}

.items--center {
  align-items: center;
}
