/**
====================================
    ==> Slider Partial <==
====================================
*/
.slide__link,
.slide__img {
  display: block;
  width: 100%;
}

.glide__arrows {
  .glide__arrow {
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
  .visually-hidden {
    display: none;
  }
}
